127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters


{{ master1_ip }} {{ master1_fqdn }} {{ master1_hostname }}
{{ master2_ip }} {{ master2_fqdn }} {{ master2_hostname }}

{{ worker1_ip }} {{ worker1_fqdn }} {{ worker1_hostname }}
{{ worker2_ip }} {{ worker2_fqdn }} {{ worker2_hostname }}

{{ lb_ip }} {{ lb_fqdn }} {{ lb_hostname }}
